<%= turbo_frame_tag "modal" do %>
  <div class="modal-overlay" data-controller="modal" data-action="mousedown->modal#closeBackground">
    <div class="modal-card">
      <div class="modal-header">
        <h2 class="modal-title">Update <%= params[:field].to_s.humanize %></h2>
        <button type="button" class="close-btn" data-action="click->modal#close">&times;</button>
      </div>
      <%= form_with model: [@user, @pet], class: "modal-form", data: { turbo_frame: "_top" } do |f| %>
        <%= hidden_field_tag :field, params[:field] %>
        <div class="modal-body">
          <% case params[:field] %>
          <% when 'dob' %>
            <label class="form-label">Date of Birth</label>
            <%= f.date_field :dob, class: "modal-input", autofocus: true %>
          <% when 'vacc_status' %>
            <label class="form-label">Vaccination Status</label>
            <%= f.text_field :vacc_status, class: "modal-input", autofocus: true %>
          <% when 'microchip' %>
            <label class="form-label">Microchip Number</label>
            <%= f.text_field :microchip, class: "modal-input", autofocus: true %>
          <% when 'weight' %>
            <label class="form-label">Weight (kg)</label>
            <%= f.number_field :weight, step: 0.1, class: "modal-input", autofocus: true %>
          <% when 'current_meds' %>
            <label class="form-label">Current Medications</label>
            <%= f.text_area :current_meds, class: "modal-input", rows: 3, autofocus: true %>
          <% when 'notes' %>
            <label class="form-label">Health Notes</label>
            <%= f.text_area :notes, class: "modal-input", rows: 4, autofocus: true %>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= f.submit "Save Changes", class: "btn-save" %>
          <button type="button" class="btn-cancel" data-action="click->modal#close">Cancel</button>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
