<div class="pet-index-container">
  <h1 class="index-title"><%= @title %></h1>
  <div class="pet-cards-wrapper">
    <% @pets.each do |pet| %>

      <%# Defining card content to not repeat %>
      <% card_content = capture do %>
        <div class="card-index">
          <% if pet&.photo&.attached? %>
            <%= cl_image_tag pet.photo.key, crop: :fill, class: "avatar-index-large" %>
          <% else %>
            <div class="avatar-index-large placeholder">
              <i class="fa-solid fa-paw"></i>
            </div>
          <% end %>

          <div class="name-section-wrapper">
            <h2 class="pet-name-index"><%= pet.name %></h2>
            <% case pet.name %>
            <% when "Raye"%>
              <p> Tracking: </p>
              <div class="tracked_attributes"> <i class="fa-solid fa-bowl-food fa-1x"></i><i class="fa-solid fa-n"></i><i class="fa-solid fa-toilet"></i> </div>
            <% when "Percy"%>
              <p> Tracking: </p>
              <div class="tracked_attributes"> <i class="fa-solid fa-bowl-food"></i><i class="fa-solid fa-n"></i><i class="fa-solid fa-toilet"></i></div>
            <% when "Cory"%>
              <p> Tracking: </p>
              <div class="tracked_attributes"> <i class="fa-solid fa-bowl-food"></i><i class="fa-solid fa-toilet"></i></div>
            <% end %>
          </div>
          <% if @title == "Your Pets!" %>
            <i class="fa-solid fa-calendar-plus"
               onclick="event.preventDefault(); window.location.href='<%= new_user_pet_log_path(current_user, pet) %>';">
            </i>
          <% elsif @title == "Heart Gallery" %>
            <%# Only shows button to restore if in the Heart Gallery %>
            <%= button_to unarchive_user_pet_path(current_user, pet),
              method: :patch,
              class: "btn-reset-icon",
              style: "background-color: #A3B899; border: none; border-radius: 5px; padding: 5px; cursor: pointer;",
              form: { onclick: "event.stopPropagation();", style: "display:inline; background-color: #A3B899; border: none; border-radius: 5px; padding: 5px; cursor: pointer;" },
              data: { turbo_confirm: "Restore #{pet.name}?" } do %>
              <i class="fa-solid fa-arrow-rotate-left"></i>
            <% end %>
          <% end %>
        </div>
      <% end %>

      <%# If the pet is not in the heart gallery, there is a link to profile %>
      <% if @title == "Your Pets!" %>
        <%= link_to user_pet_path(current_user, pet), class: "card-index-link" do %>
          <%= card_content %>
        <% end %>
      <% else %>
        <%= card_content %>
      <% end %>

    <% end %>
  </div>
  <% if @title == "Your Pets!" %>
    <h3 class="mt-4">Your Connected Veterinarians</h3>
    <div class="vet-card-custom">
      <%= image_tag "https://res.cloudinary.com/rts1307/image/upload/v1771606859/development/gregoryhouse.jpg", class: "avatar-vet" %>
      <div class="name-section-wrapper">
        <div class="vet-name-index">Patrick Gregory House</div>
        <div class="vet-languages">Languages: English, Spanish</div>
      </div>
      <i class="fa-solid fa-comment"></i>
    </div>
  <% end %>
</div>
