<div class="chat-subnav"> 
  <div style="display: flex; align-items: center; gap: 15px; width: 100%;">
    <%= link_to user_chats_path(@user), style: "color: #4a6755;" do %>
      <i class="fa-solid fa-chevron-left"></i>
    <% end %>
    <span style="font-weight: 600; font-size: 1.1rem;">
      <% if @user == @chat.owner %>
        <%= @chat.vet.clinic.clinic_name %>
      <% else %>
        <%= @chat.owner.name %>: <%= @chat.pet.name || "Unknown pet"%>
      <% end %>
    </span>
  </div>
</div>
<div class="msg-container-wrapper">
  <%= turbo_stream_from "chat_#{@chat.id}" %>
  <%# Subscribes the container to the turbostream that checks for new messages  %>
  <div
  class="msg-container"
  id="chat-messages"
  data-controller="scroll messages"
  data-viewer-id="<%= current_user.id %>"
  data-pet-photo-url="<%= url_for(@chat.pet.photo) %>">
    <%# data-controller adds controllers for both "scroll" and "messages" %>
    <%= render @messages, viewer_id: current_user.id %>
    <%# Renders the messages partial %>
    <div class="chat-bottom"> </div>
  </div>
  <%= form_with model: [@user, @chat, @message] do |f| %>
    <%= f.text_area :contents %>
    <button type="submit" class="send-btn" aria-label="Send message">
      <i class="fa-solid fa-arrow-up"></i>
    </button>
  <% end %>
</div>
<style>
  .message-row {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }

  /* RIGHT (from me) */
  .message-row.msg-right {
    flex-direction: row-reverse;
  }

  /* LEFT (from them) */
  .message-row.msg-left {
    flex-direction: row;
  }

  /* spacing */
  .message-row.msg-right .avatar-chat {
    margin-left: 0.75rem;
  }

  .message-row.msg-left .avatar-chat {
    margin-right: 0.75rem;
  }
</style>
